.container {
  display: flex;
  flex-wrap: wrap;
}

.container a {
  background-color: #f6efef;
  padding: 5px 15px;
  margin: 3px 5px;
  color: #090c9b;
  font-weight: 500;
  border-radius: 10rem;
  transition: all ease-in .5s;
}
.container a:hover{
    transform: scale(1.1);
}